* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    min-width: 1040px !important;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
	background-color:#FDFFE1;
}
.main {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 4px #CFCECE;
    margin: 0 auto;
    padding: 0 60px;
    position: relative;
    text-align: left;
    width: 940px;
    z-index: 1;
}
#header {
    background: none repeat scroll 0 0 transparent;
    height: 204px;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 9;
}
#logo {
    display: block;
    font-weight: normal;
    left: 7px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    top: 27px;
    z-index: 999;
}
.head-row {
    background: url("../images/nav-bg.jpg") repeat-x scroll left top transparent;
    height: 48px;
    left: 0;
    position: absolute;
    top: 125px;
    width: 100%;
}

.relative {
    position: relative;
}

#topmenu {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    left: 0;
    margin: 0;
    padding: 3px 0 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 1;
}
#search {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 28px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 14px;
    top: 11px;
    width: 283px;
    z-index: 1;
}

#search h3 {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    margin: 0;
    min-width: 58px;
    padding: 6px 0 0;
    text-shadow: 0 0 3px #000000;
}
#search form {
    float: left;
}
#search form .search {
    position: relative;
    z-index: 9;
}
#search form .search .inputbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #696969;
    display: inline-block;
    float: left;
    font-size: 11px;
    height: 16px !important;
    line-height: 1.2345em;
    padding: 5px 20px 5px 10px;
    vertical-align: middle;
    width: 193px;
}

a {
    color: #971701;
    outline: medium none;
    text-decoration: none;
}
.moduletable-nav ul.menu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.moduletable-nav ul.menu li:first-child {
    background: none repeat scroll 0 0 transparent;
}
.moduletable-nav ul.menu li {
    background: url("../images/nav_divider.gif") no-repeat scroll left 19px transparent;
    float: left;
    font: 13px/20px 'Oswald',sans-serif;
    letter-spacing: 0;
    margin: 0;
    padding: 11px 0 10px;
    text-transform: uppercase;
}
.moduletable-nav ul.menu li a {
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px 0 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 3px #000000;
}
.moduletable-nav ul.menu li a:hover, .moduletable-nav ul.menu li.active a {
    color: #000000;
    text-decoration: none;
}
.moduletable {
    margin: 0;
    padding: 0;
}

.inputbox {
    border: 1px solid #E5E5E5;
    color: #000000;
    float: left;
    font: 12px/20px Arial,Helvetica,sans-serif;
    height: 18px;
    margin: 0;
    padding: 2px 10px;
    width: 200px;
}
input, textarea {
    outline: medium none;
}
#search form .search .button {
    background: url("../images/search-button.png") no-repeat scroll left top transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-style: normal !important;
    font-weight: bold;
    height: 15px;
    letter-spacing: 0;
    line-height: 23px !important;
    margin: 0;
    position: absolute;
    right: 4px;
    text-decoration: none;
    text-indent: -9999px;
    text-transform: capitalize;
    top: 7px;
    width: 18px;
}
.button, .vm-button-correct {
    padding-bottom: 3px;
}
#search form .search .button:hover {
    background: url("../images/search-button.png") no-repeat scroll left bottom transparent;
    color: #FFFFFF;
}
.cart {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #757473;
    display: block;
    font-size: 10px;
    height: 24px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -2px;
    text-align: left;
    text-transform: uppercase;
    top: 73px;
    width: 380px;
    z-index: 9999;
}
.cart .moduletable {
    float: right;
}

.cart h3 {
    background: none repeat scroll 0 0 transparent;
    color: #971701;
    float: left;
    margin: 0;
    padding: 0 4px 2px 0;
	font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}
#content {
    border-radius: 0 0 0 0;
    border-top: medium none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 31px;
    position: relative;
    z-index: 1;
}
.wrapper {
    overflow: hidden;
    width: 100%;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.wrapper2 {
    width: 100%;
}
#left {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: 220px;
}

.module-category {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.module-category h3 {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    font: 24px/34px 'Sail',cursive;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.module-category .boxIndent {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    padding: 5px 0 14px;
    position: relative;
}
.module-category .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.module-category .list li:first-child {
    background: none repeat scroll 0 0 transparent;
    margin-top: 0;
}
.module-category .list li {
    background: none repeat scroll 0 0 transparent;
    float: none;
    font: 11px/20px 'Droid Sans',sans-serif;
    height: auto;
    padding: 0 0 0 1px;
    position: relative;
    text-transform: none;
}

.module-category .list li a {
    background: url("../images/marker.gif") no-repeat scroll left 7px transparent;
    color: #464545;
    display: block;
    margin-right: 20px;
    padding: 0 0 0 16px;
    text-decoration: none;
}
.module-category .list li a:hover, .module-category .list li.active a {
    color: #971701;
    font-weight: normal;
}
.module_new2 {
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.module_new2 h3 {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    font: 24px/34px 'Sail',cursive;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.module_new2 .boxIndent {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    padding: 5px 0 0;
    position: relative;
}

.vmgroup_new2 ul {
    margin-bottom: -11px;
}

.vmgroup_new2 ul li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 4px;
    width: 100%;
}

.vmgroup_new2 ul li .product-box {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    min-height: 0;
    padding: 12px 0 8px;
    position: relative;
    text-align: left;
    width: 220px;
}

.vmgroup_new2 ul li .browseImage {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    margin-right: 13px;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 85px;
}
.vmgroup_new2 ul li .browseImage img {
    background: none repeat scroll 0 0 #333333;
    height: 83px;
    text-align: center;
    width: 83px;
}
.vmgroup_new2 .fleft {
    float: left;
    width: 120px;
}

.vmgroup_new2 ul li .Title {
    margin: 0;
    min-height: 17px;
    padding: 8px 0 0 1px;
    text-align: left;
}

.vmgroup_new2 ul li .Title a {
    color: #575656;
    display: block;
    font: 11px/16px 'Droid Sans',sans-serif;
    text-decoration: none;
    text-transform: none;
}

.vmgroup_new2 ul li .Price {
    border-bottom: medium none;
    color: #981C03;
    float: left;
    font: 16px/16px 'Droid Sans',sans-serif;
    padding: 9px 7px 0 0;
    text-align: left;
    z-index: 99;
}
.vmgroup_new2 ul li .Price .WithoutTax, .vmgroup_new2 ul li .Price .discount {
    display: none;
}
.module_new {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    overflow: hidden;
    padding: 6px 0 0;
    position: relative;
}

.module_new .boxIndent {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    margin-bottom: -18px;
    padding: 0;
    position: relative;
}

.vmgroup_new ul li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 18px;
    width: 100%;
}
.vmgroup_new ul li .product-box {
    text-align: left;
}
.vmgroup_new ul li .product-box:first-child {
    margin-left: 0;
}
.vmgroup_new ul li .product-box {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #F0EEEE;
    border-radius: 6px 6px 6px 6px;
    float: left;
    margin-left: 20px;
    min-height: 0;
    overflow: hidden;
    padding: 0 0 18px;
    position: relative;
    text-align: left;
    width: 218px;
}
.vmgroup_new ul li .browseImage {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.vmgroup_new ul li .browseImage img {
    height: 180px;
    text-align: center;
    width: 180px;
}

.vmgroup_new ul li .fleft {
    float: none;
}

.vmgroup_new ul li .Title {
    background: none repeat scroll 0 0 transparent;
    min-height: 22px;
    padding: 7px 0 0;
    text-align: center;
}
.vmgroup_new ul li .Title a {
    color: #726F6F;
    display: block;
    font: 12px/14px 'Oswald',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.vmgroup_new ul li .Title a:hover {
    color: #A1061B;
    text-decoration: none;
}
#vmproduct.vmproduct_new li .product-box .Price {
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    color: #981C03;
    font: 16px/18px 'Droid Sans',sans-serif;
    padding: 0 0 9px;
    text-align: center;
    text-transform: uppercase;
}
.module_new .addtocart-area2 {
    float: none;
    margin: 0 auto;
    padding: 0;
    width: 82px;
}

.module_new  span.addtocart-button {
    background: url("../images/cart-buton.png") repeat-x scroll left top #E6E6E6;
    border: 1px solid #E0DEDE;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 23px;
    margin: 0;
    padding: 0;
    width: 80px;
}
.module_new  input.addtocart-button {
    padding-bottom: 2px;
}
.module_new  input.addtocart-button {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #4B4B4B;
    display: inline-block;
    font: 11px/24px sans-serif !important;
	font-weight:bold;
    height: 23px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 80px;
}
.module_new  span.addtocart-button:hover {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
    text-decoration: none;
}
.module_new  input.addtocart-button :hover{
    background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
}
#foot {
    background: none repeat scroll 0 0 transparent;
    border-top: 1px solid #DEDEDE;
    margin: 0;
    min-height: 70px;
    position: relative;
    width: 100%;
    z-index: 90;
}

#foot .space {
    color: #6E6E6E;
    font: 13px/20px 'Droid Sans',sans-serif;
    padding: 7px 40px 0 0;
    text-transform: uppercase;
}
#back-top {
    display: block !important;
    padding: 0;
    position: absolute;
    right: -119px;
    top: 13px;
    z-index: 1;
}
#back-top a {
    background: url("../images/back.png") no-repeat scroll left top transparent;
    display: block !important;
    height: 41px;
    padding: 0;
    width: 59px;
}
#foot a {
    color: #B5B5B5;
    text-decoration: none;
}
#back-top a:hover {
    opacity: 0.5;
}