@import"reset.css";
@import"grid.css";
@import"superfish.css";


html {overflow-y:scroll;}
body {
	/*background: #fff url('../images/body-bg.jpg') no-repeat 50% 0;*/
	font:13px/20px Arial, sans-serif;
	color:#727272;
	position:relative;
	min-width:980px;
	
}
html,body {
	height:100%;
}
a {
	color:#727272;
	outline:none;
	cursor:pointer;
	text-decoration:none;
}

/*  Header styles */
h1,h2,h3,h4,h6 {
	line-height:1.2em;
	color:#464646;margin-bottom:16px
}
h1{font-size:28px}
h2 {font:400 21px 'Signika', sans-serif;}
h2 a:hover {color:#8ac733;}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px;color:#464646;margin:5px;margin-top:10px;}
h6{font-size:12px}
strong {
	font:14px/17px Arial, sans-serif;
	color:#515151;
}
.sf-menu li a, h2, .button-2, .link-1, .footer-menu li a, .policy a, h2 a, .button-3, .list-1 li a, .list-2 li a {
	-webkit-transition: background 0.2s ease, color 0.2s ease;
	-moz-transition: background 0.2s ease, color 0.2s ease;
	-o-transition: background 0.2s ease, color 0.2s ease;
	transition: background 0.2s ease, color 0.2s ease;
}
.main{margin:0 auto;width:950px}
/* ----------------------------------------Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	overflow:hidden;
	height:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative;
	padding-top:80px;
}
.extra-wrap {
	overflow:hidden;
	display:block;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.alignmiddle *{
	vertical-align:middle;
}



.ident-bot-1 {
	margin-bottom: 17px;
}
.ident-bot-2 {
	margin-bottom: 11px;
}
.ident-bot-3 {
	margin-bottom: 22px;
}
.ident-bot-4 {margin-bottom:40px;}
.wrapper2{
	overflow: hidden;
    padding-top: 10px;
    position: relative;
    width: 100%;
}
.ident-bot-5 {margin-bottom:11px;}
.ident-bot-6 {margin-bottom:12px;}
.ident-bot-7 {margin-bottom:9px;}
.ident-bot-8 {margin-bottom:36px;}
.ident-bot-9 {margin-bottom:18px;}
.ident-bot-10 {margin-bottom:14px;}
.ident-bot-11 {margin-bottom:5px;}
.ident-bot-12 {margin-bottom:20px;}
.ident-bot-13 {margin-bottom:53px;}
.ident-bot-14 {margin-bottom:10px;}
.ident-bot-15 {margin-bottom:80px;}
.ident-bot-16 {margin-bottom:13px;}
.ident-bot-17 {margin-bottom:49px;}
.ident-bot-18 {margin-bottom:28px;}

.inner-ident-1 {padding-top: 12px;}
.inner-ident-2 {padding: 0 5px 0 28px;}
.inner-ident-3 {padding-top: 6px;}

.ident-left-1 {margin-left:5px;}
.ident-left-2 {margin-left:6px;}

.ident-top-1 {margin-top:-6px;}
.ident-top-2 {margin-top:4px;}

.ident-right-1 {margin-right:12px;}
.ident-right-2 {margin-right:38px;}
.ident-right-3 {margin-right:6px;}

.mobile-6 {
	margin-left:33px;
	text-align:left;
}
/*********************************header*************************************/
.row-1-1 {
	height:8px;
	border-bottom: 1px solid transparent;
	margin-bottom: 8px;
}
.row-1 {
	background: url('../images/row-1-bg.jpg');
	border-bottom: 1px solid #dddddd;
	min-height:58px;
	position:fixed;
	width:100%;
	z-index:300;
}
header h1.desktop a,header h1.mobile a {
	display: block;
	text-indent: -999em;
	width: 405px;
	height: 62px;
	background: url('../images/logo.png') no-repeat;
}
header h1.desktop {
	margin:0px 0px 25px 0px;
}
	#page2 h1.desktop {
		margin:42px 0 38px 24px;
	}
	#page3 h1.desktop, #page4 h1.desktop, #page5 h1.desktop, #page6 h1.desktop, #page7 h1.desktop {
		margin:42px 0 33px 24px;
	}
header h1.mobile {
	display:none;
}
.slogan-ident {
padding-left:5px;

}
.slogan {
	color:#0095D6;
	font: 30px/48px 'Signika', sans-serif;
	word-spacing: 4px;
}
	.slogan span {
		font-weight:700;
	}
.slogan-1 {
	color:#aaaaaa;
	font: 300 26px/30px 'Signika', sans-serif;
	padding-right: 160px;
}
#page2 .slogan-1 {
	padding-right:0;
}

/********************** Content ************************/
#page4 section#content {
	padding-bottom:0;
}
section#content {
	padding-bottom:68px;
}
img {
	max-width:100%;
	height:auto;
}
.block-1 {
	padding:30px 32px 25px 33px;
	border: 1px dashed #d6d6d6;
	text-align:center;
	color:#8b8a8a;
	font:11px/16px Arial, sans-serif;
	margin-bottom:10px;
}
.block-1:hover > h2.h2-color-1 {
	color:#f3c84b;
}
.block-1:hover > .button.b-color-1  {
	color:#ffffff;
	background: #f3c84b;
}
.block-1:hover > h2.h2-color-2 {
	color:#5d8ee0;
}
.block-1:hover > .button.b-color-2 {
	color:#ffffff;
	background: #5d8ee0;
}
.block-1:hover > h2.h2-color-3 {
	color:#aadc65;
}
.block-1:hover > .button.b-color-3 {
	color:#ffffff;
	background: #adde6a;
}
.block-1:hover > h2.h2-color-4 {
	color:#9f9f9f;
}
.block-1:hover > .button.b-color-4 {
	color:#ffffff;
	background: #9f9f9f;
}
.block-2 {
	padding-right: 40px;
}
	#page3 .block-2 {padding-right: 20px;}
.block-3 {
	padding-right: 20px;
	margin-top:14px;
}
.block-4 {
	background: url('../images/block-4-bg.jpg');
	margin-top:14px;
}
	.block-4-border {
		border: 1px dashed #d2d2d2;
		padding: 35px 35px 38px 35px;
	}
	#page2 .block-4 {
		margin-top:0;
		margin-right:5px;
	}
	#page2 .block-4-border {
		padding: 11px 33px 18px 25px;
	}
.block-5 {
	padding:20px 20px 25px 20px;
	border: 1px dashed #d6d6d6;
	color:#8b8a8a;
	font:11px/16px Arial, sans-serif;
}

.block-5 a img{opacity:1;-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.block-5 a:hover img{opacity:0.65}

	.block-5 p {
		padding:0px;
	}
.block-6 {
	padding-left:28px;
	padding-right:30px;
	margin-bottom:20px;
}
	.block-6 img {
		margin-right:18px;
	}
	.block-6 .extra-wrap{
		padding-top: 5px;
	}
.block-7 {
	padding-right:30px;
	margin-bottom:20px;
}
	.block-7 img {
			margin-right:18px;
		}
		.block-7 .extra-wrap{
			padding-top: 5px;
		}
.block-8 {
	padding: 0 15px 0 34px;
}
.block-9 {padding-left:32px;}
.block-10 {padding:0 28px 0 29px; margin-bottom:79px;}
.block-11 {padding: 0 31px 0 27px;}
.block-11-1 {padding: 0 31px;}
.block-12 {padding-right:40px;}
.block-13 {background: url('../images/block-4-bg.jpg');}
	.block-13-border {border: 1px dashed #d2d2d2;}
.block-14{padding:0 80px 0 28px;}
.link-1 {
	color:#000;
	text-decoration:underline;
}
	.link-1:hover {
		color:#8ac733;
	}
.col-2 {
	float:left !important;
	margin-left: 84px !important;
}
.col-3 {
	float:left !important;
	margin-left: 46px !important;
}
.col-4 {
	width:166px;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}
.img-block {
	position:relative;
}
	.img-block .absolute {
		position:absolute;
		left:0;
		top:0;
		opacity: 0;
	}
#page2 .block-5 {
	margin-bottom:10px;
}

.list-1 li {
	line-height: 27px;
	padding-left: 13px;
	background: url('../images/list-marker-1.png') no-repeat 0 11px;
}
	.list-1 li a {
		color: #474747;
		font: 13px/27px Arial, sans-serif;
		text-decoration:underline;
	}
		.list-1 li a:hover {color:#8ac733;}

.list-2 {padding:9px 0 11px 0;}
.list-2 li {
	padding-top:1px;
	position:relative;
}
	.list-2 li:first-child {
		padding:0;
		background:none;
	}
	.list-2 li:before  {
		display:block;
		position:absolute;
		left: 20px;
		top: 0px;
		content: "";
		z-index: 1;
		background: url('../images/list-2-border.png') no-repeat;
		width: 171px;
		height: 1px;
	}
		.list-2 li:first-child:before {
			display:none;
		}
	.list-2 li a {
		color: #515151;
		font: 14px/32px Arial, sans-serif;
		display:block;
		padding:0 20px;
	}
		.list-2 li a:hover {color:#ffffff; background: #212121;}
/*  Buttons */
.button {
	display:inline-block;
	background: #f1f1f1;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color:#1e1e1e;
	font:12px/33px Arial, sans-serif;
	min-width:88px;
	padding:0 5px;
}

.button-2 {
	display:inline-block;
	color:#1e1e1e;
	font: 18px/24px 'Signika', sans-serif;
	padding-right: 18px;
	background: url('../images/button-2-arrow.png') no-repeat 100% 8px;
}
	.button-2:hover {
		color:#8ac733;
	}
.button-3 {
	display:inline-block;
	background: #f3c84b;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color:#fff;
	font:21px/41px 'Signika', sans-serif;
	padding: 0 25px 0 22px;
	margin-top:19px;
	float:right;
}
	.button-3:hover {
		background: #daaa1e;
	}
	.button-3 span {display:inline-block; margin: 12px 0 -12px 2px;}
	
/******************** Footer ******************/

footer h2{margin:0}
footer .text-1{margin-top:-3px} 
.footer-block-1 {
	border-top: 1px solid #eeedee;
	border-bottom: 1px solid #eeedee;
	padding:22px 0 21px;
}
.footer-menu {
	margin-left: 8px;
	margin-top:10px;
}
.footer-menu li {
	float:left;
	padding: 0 12px;
	border-left: 1px dashed #e2e2e2;
	line-height:14px;
}
.footer-menu li:first-child {
	border-left: none;
}
	.footer-menu li a {
		font: 300 14px/17px 'Signika', sans-serif;
		color:#898989;
	}
	.footer-menu li a:hover, .footer-menu li a.active-2 {
		color:#0095D6;
	}
.text-1 {
	font:11px/16px Arial, sans-serif;
	color:#919191;
}
.soc-list li {
	float:left;
	margin-left:14px;
}
.policy {
	font: 300 14px/17px 'Signika', sans-serif;
	color:#7e7e7e;
	word-spacing: 2px;
	padding: 26px 0;
	margin-right:22px;
}
.policy a:hover {
	color:#8ac733;
}
.width-1 {width:170px;}

/* FORM
========================================================================= */
dl {
	display: block;
	width: 174px;
}
dd span {
	float: right;
}
.map-border {
	background: #f7f7f7;
	padding:8px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	margin-right:19px;
	margin-bottom:25px;
}
iframe {
	width: 307px;
	height: 347px;
	margin:0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#confirm {
	position: relative;
	height: auto;
	padding-bottom: 45px;
}
#confirm  label {
	display: block;
	position: relative;
	min-height: 60px;
	width: 100%;
}
#confirm  label.message,#confirm  label.deskripsi {
	min-height: 144px;
}
#confirm input[type=text]{
    background: none repeat scroll 0 0 #FFFFFF;
   border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #999A99;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 16px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 7px 10px;
    vertical-align: middle;
	width:65%;
}
#confirm  select {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    width: 195px;
	color: #999A99;
}
#confirm input.medium {
	width:200px;;
}
.text-right{
text-align:right;
}
#confirm textarea {
	background: none repeat scroll 0 0 #FFFFFF;
   border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #999A99;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 100px;
    margin: 0;
    outline: medium none;
    overflow: auto;
    padding: 7px 10px;
    resize: none;
    vertical-align: middle;
	width:65%;
}
#confirm label > span {
	color: #f3301e;
	position:relative;
	left: 12px;
}
#confirm label > span.caption{
color: #B7B7B7;
left: 0;
padding-bottom:5px;
display:block;
}
#confirm .success {
	color:#8ac733;
	display:none;
}
#confirm  label.error {
	font: 12px/20px 'lucida grande',helvetica,verdana,arial,sans-serif;
    min-height: 0;
	display:inline;
	margin-right:15px;
    position: relative;
    color: #F3301E;
    left: 12px;
	text-align:right;
}

#confirm .btns {
	position: absolute;
	left: 0;
}
#confirm .btns a {
	margin-right: 20px;
}
.profile-name{
	font-size:12px;
font-weight: bold;
    line-height: 30px;
	padding-left:10px;

}

/* ---------->>> jtip <<<---------------------------------------------------------------*/
#confirm label > span.formInfo{
	left:-5px;
}
.formInfo a, .formInfo a:active, formInfo a:visited {
	background: url('../images/info.png') no-repeat 50% 50%;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0px;
    padding: 0px 12px 0px 12px;
	display:inline;
    text-decoration: none;
}
/* ----- add selectors here for font sizing ----- */
#JT_close_left, #JT_close_right{font-size: 1.1em;}
#JT_copy p, #JT_copy ul{font-size: 1.1em;}
p, label{font-size: 1.2em;}



#JT_arrow_left{
	background-image: url(../images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:1005;
	border: 2px solid #CCCCCC;
	background-color: #fff;
	font-size:10px;
}

#JT_copy{
	padding:5px 5px 5px 5px;
	color:#333333;
}

.JT_loader{
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
}
.link{
	background:url('../images/icon/add.png') no-repeat 0 50%;
	font-weight:bold;
	padding:8px 5px 8px 20px;
	
	display:block;
	color:#464654;
	float:right;
}
.link:hover{
color:#5D8EE0;
}
.buttonTool {
    background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 16px 16px 16px 16px;
    color: #1E1E1E;
    display: inline;
    font: 12px/33px Arial,sans-serif;
    padding:10px 15px  10px 15px;
	
}
.buttonTool:hover{
color:#FFF;
}
/* Pagging */
.bx-pager {
    color: #333333;
    float: left;
    height: 20px;
    margin: 10px 0;
}
.bx-pager a {
    color: #1792FD;
    font-weight: bold;
    height: 20px;
    padding: 3px 10px;
    text-decoration: none;
    width: 20px;
}
.bx-pager a:hover {
    background: none repeat scroll 0 0 #DC008B;
    color: #FFFFFF;
    text-decoration: none;
}
.bx-pager strong {
   background: none repeat scroll 0 0 #DC008B;
    color: #FFFFFF;
	font-weight: bold;
    height: 20px;
    padding: 3px 10px ;
    text-decoration: none;
    width: 20px;
}
.bx-pager a.active{
    background: none repeat scroll 0 0 #DC008B;
    color: #FFFFFF;
}
.teaser-1{
	height:48px;
	overflow:hidden;
}
.title-1{
	height:26px;
	overflow:hidden;
}
.title-2{
	height:20px;
	overflow:hidden;
}
.pro_wrapper{overflow:hidden;position:relative;}
.pro_tab-content{ margin:0 auto; box-shadow:0 1px 2px rgba(0,0,0,.2); background:#fff; padding:20px 0; margin-top:-1px; border-left:1px solid #eee\0/;}

/* Layouts navigation */
.pro_layouts-menu,.pro_icons-menu{ position:relative;padding:0; width:100%; border-bottom:1px solid #eee; float:left;}
	.pro_layouts-menu li,.pro_icons-menu li{ float:left; position:relative; margin-left:4px; cursor:pointer;}
	.pro_layouts-menu li a,.pro_icons-menu li a{ 
	    display:block; width:50px; height:24px; position:relative; left:0;top:4px;
		padding:8px 5px 0 5px;
		border: 1px solid #DDD;
		border-radius: 3px;
		text-shadow: 0 1px 1px white;
		font: bold 11px Sans-Serif;
		white-space: nowrap;
		vertical-align: middle;
		color: #666;
		cursor: pointer;
		border-color: #ddd;
		background:#E0E0E0;
		text-align:center;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	filter:none;
		background: -webkit-linear-gradient(top, white, #E0E0E0);
		background:    -moz-linear-gradient(top, white, #E0E0E0);
		background:     -ms-linear-gradient(top, white, #E0E0E0);
		background:      -o-linear-gradient(top, white, #E0E0E0); 
		background:      linear-gradient(top, white, #E0E0E0); 
		-pie-background:      linear-gradient(top, white, #E0E0E0); 
		box-shadow:inset 0 0 3px #fff;}
.pro_layouts-menu li:hover a,
	.pro_layouts-menu li a.current{background:#fff;-pie-background:linear-gradient(#fff, #fff); }
	.pro_layouts-menu li a.current,
	.pro_layouts-menu li a.current{ top:2px;}
	.pro_layouts-menu li a:hover{ text-decoration:none;}
.select{
z-index:1;
color:#FFF;
font-weight:bold;
background:#DDDDDD url('../images/ico-done.gif') no-repeat 2px 50%;
padding-left:20px;
padding-right:5px;
position:absolute;
}
.button-4{
    background: -moz-linear-gradient(center top , white, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    filter: none;
    font: bold 11px/15px Sans-Serif;
    padding: 6px 10px;
    text-shadow: 0 1px 1px white;
    vertical-align: middle;
    white-space: nowrap;
}
.button-4:hover{
    border-color: #999999;
    box-shadow: 0 0 3px #FFFFFF inset;
    text-decoration: none;
}	
.price{
margin-bottom:0;
margin-top:5px;
color:#0095D6;
}