<!DOCTYPE html>
<html lang="en-gb" dir="ltr" xml:lang="en-gb" xmlns="http://www.w3.org/1999/xhtml" slick-uniqueid="3">
<head>
<link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="main">
	<div id="header">
		<div id="logo">
			<a href="/virtuemart_40095"><img src="images/logo.png" alt=""></a>
		</div>
		<div class="head-row">
		<div class="relative">
			<div id="topmenu">
			<div class="moduletable-nav">
			<ul class="menu">
				<li class="item-444">
					<a href="#">Online store</a></li>
				<li class="item-470">
					<a href="#">About Us</a>
				</li>
				<li class="item-471">
					<a href="#">Delivery</a>
				</li>
				<li class="item-473">
					<a href="#">FAQs</a>
				</li>
				<li class="item-472">
					<a href="#">Contacts</a>
				</li>
			</ul>
			</div>
			</div>
			<div id="search">
				<div class="moduletable">
					<h3>search:</h3>
					<!--BEGIN Search Box -->
					<form method="get" action="#">
					<div class="search">
						<input type="text" onfocus="if(this.value==' ') this.value='';" onblur="if(this.value=='') this.value=' ';" value=" " size="120" class="inputbox" maxlength="120" id="mod_virtuemart_search" name="keyword"><input type="submit" onclick="this.form.keyword.focus();" class="button" value="search">
					</div>
						<input type="hidden" value="0" name="limitstart">
						<input type="hidden" value="com_virtuemart" name="option">
						<input type="hidden" value="category" name="view">
					</form>
					<!-- End Search Box -->
				</div>
	
			</div>
			</div>
			</div>
		<div class="cart">
			<div class="moduletable">
			<h3>shopping cart:</h3>
			<span class="crt-text">Your Cart is currently</span>
			</div>
		</div>
		
	</div>
	<div class="module_slider">
		<div class="wrapper">
		
		</div>
	</div>
	<div id="content">
		<div class="wrapper2">
			<div id="left">
				<div class="wrapper2">
					<div class="extra-indent">
						<div class="module-category">
							<h3><span><span>categories</span></span></h3>
							<div class="boxIndent">
								<div class="wrapper">
									<ul class="list">
										<li class="level0"><a href="#">Any Occasion</a>
										</li>
										<li class="level0"><a href="#">Birthday</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="module_new2">
							<h3><span><span>Bestsellers</span></span></h3>
							<div class="boxIndent">
								<div class="wrapper">
									<div class="vmgroup_new2">
										<ul id="vmproduct" class="vmproduct_new2">
											<li>
											   <div class="product-box spacer">
												 <div class="browseImage">
														<a class="img2" href="#">
														<img border="0" class="featuredProductImage" alt="product13" src="images/product13_resized.png"></a>		
												</div>
												<div class="fleft">
													<div class="Title">
														<a title="Sit amet conse" href="#">Sit amet conse</a>		
													</div>
													<div class="Price">
														<span class="WithoutTax">$110.00</span><span class="sales">$120.18</span>
													</div>
													<div class="wrapper-slide"></div>
												</div>	
											  </div>
											</li>
											<li>
											   <div class="product-box spacer">
												 <div class="browseImage">
														<a class="img2" href="#">
														<img border="0" class="featuredProductImage" alt="product13" src="images/product14_resized.png"></a>		
												</div>
												<div class="fleft">
													<div class="Title">
														<a title="Sit amet conse" href="#">Sit amet conse</a>		
													</div>
													<div class="Price">
														<span class="WithoutTax">$110.00</span><span class="sales">$120.18</span>
													</div>
													<div class="wrapper-slide"></div>
												</div>	
											  </div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="module_new">
					<div class="boxIndent">
						<div class="wrapper">
							<div class="vmgroup_new">
								<ul id="vmproduct" class="vmproduct_new">
									<li>
										<div class="product-box spacer discount">
										 <div class="browseImage">
											<a class="img2" href="#">
											<img border="0" class="featuredProductImage" alt="product06" src="images/product06_resized.png">
											</a>
										  </div>
										  <div class="fleft">
											<div class="Title">
												<a title="Dolor sit amet" href="#">Dolor sit amet</a>		
											</div>
											<div class="Price">
												<span class="sales">$140.00</span>
											</div>
											<div class="wrapper-slide">
												<div class="addtocart-area2">
													<span class="addtocart-button">
													<input type="submit" title="Add to cart" value="Add to cart" class="addtocart-button cart-click" name="">
													</span>
													<div class="clear"></div>
												 </div>
											 </div>
											</div>	
										</div>
										<div class="product-box spacer discount">
											 <div class="browseImage">
												<a class="img2" href="#">
												<img border="0" class="featuredProductImage" alt="product06" src="images/product08_resized.png">
												</a>
											  </div>
											  <div class="fleft">
												<div class="Title">
													<a title="Dolor sit amet" href="#">Dolor sit amet</a>		
												</div>
												<div class="Price">
													<span class="sales">$140.00</span>
												</div>
												<div class="wrapper-slide">
													<div class="addtocart-area2">
														<span class="addtocart-button">
														<input type="submit" title="Add to cart" value="Add to cart" class="addtocart-button cart-click" name="">
														</span>
														<div class="clear"></div>
													 </div>
												 </div>
												</div>	
											</div>
										<div class="product-box spacer discount">
										 <div class="browseImage">
											<a class="img2" href="#">
											<img border="0" class="featuredProductImage" alt="product06" src="images/product09_resized.png">
											</a>
										  </div>
										  <div class="fleft">
											<div class="Title">
												<a title="Dolor sit amet" href="#">Dolor sit amet</a>		
											</div>
											<div class="Price">
												<span class="sales">$140.00</span>
											</div>
											<div class="wrapper-slide">
												<div class="addtocart-area2">
													<span class="addtocart-button">
													<input type="submit" title="Add to cart" value="Add to cart" class="addtocart-button cart-click" name="">
													</span>
													<div class="clear"></div>
												 </div>
											 </div>
											</div>	
										</div>									
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	<div id="foot">
		<div class="space">
			<div class="wrapper">
				Tesss Footer
			</div>
		</div>
		<p id="back-top" style="display: none;">
				<a href="#top"><span></span></a>
		 </p>
	</div>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>